html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    background: #161616;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.content p {
    color: rgba(255, 255, 255, 0.12);
    font-family: Helvetica, sans-serif;
    font-size: 100px;
    font-weight: 200;
}

h1 {
    position: absolute;
    font-family: Helvetica;
    font-size: 16px;
    font-weight: lighter;
    color: white !important;
    margin: 20px;
}

/*--- Remove lines 31-39 and add 42-52 for DEMO-2 ---*/
.percent {
    position: fixed;
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.2);
    height: 140px;
    width: 1px;
    margin: -60px 0 0 40px;
}

/*---
.percent {
    position: fixed;
    display: flex;
    top: 50%;
    transform: translateY(-50%);
    right: 100px;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.2);
    height: 140px;
    width: 1px;
}
--*/

.fill {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    transition: background 0.15s ease;
}
